<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Amande</span>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav #sidenav>
		<mat-nav-list>
			<mat-list-item class="parent">
        <a routerLink="/">
          <mat-icon mat-list-icon>home</mat-icon>
          <span class="full-width" >Home</span>
        </a>
			</mat-list-item>
		</mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>