<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amande.infrastructure.query.paint.PaintQueryMapper">
  <select id="selectAll" resultType="com.amande.infrastructure.query.paint.PaintQueryRecord">
    SELECT aggregate_id id,
           last_version lastVersion,
           color_name   colorName,
           color_code   colorCode
    FROM query.paint
  </select>
  <insert id="upsert">
    insert into query.paint(aggregate_id, last_version, color_name, color_code) 
    values
    <foreach collection="queryRecords" item="record" separator=",">
        (
        #{record.id},
        #{record.lastVersion},
        #{record.colorName},
        #{record.colorCode}
        )
    </foreach>
  </insert>
</mapper>